@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-gradient:linear-gradient(90deg, rgba(143,205,195,1) 0%, rgba(116,220,204,1) 50%, rgba(85,201,188,1) 100%);
  --secondary-gradient:radial-gradient(circle, rgba(76,188,164,1) 0%, rgba(48,184,155,1) 48%, rgba(65,219,186,1) 100%);
  --primary-color:#50bca4;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(17, 17, 17);
  line-height: 1.6;
  height: 150vh;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(22, 22, 22);
}



h1,h2 {
  font-weight: 300;
  color: rgb(34, 34, 34);
  line-height: 1.2;
  margin: 10px 0;
}

p{
  color:rgb(14, 14, 14);
  margin: 10x 0;
}

.navbar img {
  width: 15%;
  border-radius: 0%;
  max-width: 15%;
  height: auto;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

video {
  position:fixed;
  right: 0px;
  bottom: 0px;
  margin-bottom:-170px;
  width: 100%;
  min-width:100%; 
  min-height: 100%;
  z-index:-3;
}
/*Navbar*/
.navbar {
  background: var(--primary-gradient);
  color: rgb(34, 34, 34);
  height:130px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: rgb(2, 2, 2);
  padding: 10px;
  margin:0 5px;
}

.navbar a:hover{
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}
/*Showcase*/
.showcase {
  height:320px;
  background: var(--primary-gradient);
  color: rgb(255, 255, 255);
  position:relative;
  z-index:2;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p{
margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 4;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'],
.showcase-form input[type='number'] {
  border: 0;
  border-bottom: 2px solid #4cbca4;
  width: 100%;
  padding: 3px;
  font-size: 16px;
} 

.showcase-form input:focus {
  outline:none; 
}

.showcase::before,
.showcase::after{
  content: '';
  position: absolute;
  height: 160px;
  bottom: -60px;
  right: 0;
  left: 0;
  background:var(--primary-gradient);
  transform:skewY(-3deg);
  z-index:-2;
}


/*Stats*/
.stats {
  padding-top: 500px;

}

.stats h3 {
    text-decoration: none;
    font-weight: 200;
    font-size:15px; 
    display: flex;
    align-items:right;
    margin-right: 500px;
    margin-bottom:0px;
    }