@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-gradient:linear-gradient(90deg, rgba(143,205,195,1) 0%, rgba(116,220,204,1) 50%, rgba(85,201,188,1) 100%);
  --secondary-gradient:radial-gradient(90deg, rgba(76,188,164,1) 0%, rgba(48,184,155,1) 48%, rgba(65,219,186,1) 100%);
  --primary-color:#50bca4;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.6;
  height: 400vh;
  min-height: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(22, 22, 22);
}



h1,h2 {
  font-weight: 200;
  color: rgb(34, 34, 34);
  line-height: 1.2;
  margin: 10px 0;
}

p{
  color:rgb(14, 14, 14);
  margin: 10x 0;
}


video {
  position:absolute;
  margin-top:271vh;
  width: 100%;
  min-width:100%; 
  min-height: 100%;
  z-index: -5;
}
/*Navbar*/
.navbar {
  background: var(--primary-gradient);
  color: rgb(34, 34, 34);
  height:130px;
  z-index:5;
}

.navbar ul {
  display: flex;
}

.navbar img {
  width: 15%;
  border-radius: 0%;
  max-width: 15%;
  height: auto;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.navbar a {
  color: rgb(2, 2, 2);
  padding: 10px;
  margin:0 5px;
}

.navbar a:hover{
  border-bottom: 2px rgb(255, 255, 255) solid;
  transition: .2s linear;
}

 .btn:hover{
 opacity: 1;
}

.navbar img:hover{
  cursor: default;
}




.navbar .flex {
  justify-content: space-between;
}
/*Showcase*/
.showcase {
  height:450px;
  background: var(--primary-gradient);
  color: rgb(255, 255, 255);
  position:relative;
  z-index:4;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p{
margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 40px;
}

.showcase-form {
  position: relative;
  top: 70px;
  height: 400px;
  width: 390px;
  padding: 50px;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'],
.showcase-form input[type='number'] {
  border: 0;
  border-bottom: 2px solid #4cbca4;
  width: 100%;
  padding: 3px;
  font-size: 16px;
} 

.showcase-form input:focus {
  outline:none; 
}

.showcase::before,
.showcase::after{
  content: '';
  position: absolute;
  height: 92px;
  bottom: -70px;
  right: 0;
  left: 0;
  background:rgb(255, 255, 255);
  transform:skewY(-3deg);
  z-index:-2;
}





/*Char*/

.char {
  background-color:rgba(0, 0, 0, 0);
  display:flex;
  overflow: visible;
  border-spacing: 2vh;
  position:absolute;
  margin-left: 30vh;
  margin-top : 85vh;
  z-index:5;
}

.char img{
  opacity: 0.95;
  border-radius: 256px; 
  width: 65%;
}


.char img:hover{
  transition: .5s ease;
  cursor: crosshair;
  opacity: 1;
}

.char .card {
  border-radius: 64px;
  text-align:center;
  font-weight: 0;
  font-size: 20px;
  padding-bottom: 5vh;
}